<div class="section" id="how-do-i-opt-in">
<h3><a class="toc-backref" href="#id7">How do I submit a new package?</a></h3>
<p>Propose a change to the <a class="reference"
href="https://salsa.debian.org/jelmer/janitor.debian.net/blob/master/extra_upstream_projects.conf">extra_upstream_projects.conf</a>
that adds an entry for the upstream project that you would like to see
debianized.</p>
<p>Alternatively, you can send me an e-mail (<a class="reference external" href="mailto:jelmer@debian.org">jelmer@debian.org</a>).</p>
<p>In order to quickly have new packages built whenever the repository changes, please consider installing a webhook
that targets <a href="https://janitor.debian.net/">https://janitor.debian.net/</a> if the repository is hosted on
GitHub, Launchpad, or a GitLab, Gitea or Gogs instance.</p>
</div>

