<div class="section" id="what-technologies-are-used">
<h3><a class="toc-backref" href="#id19">What technologies are used?</a></h3>
<p><a class="reference external" href="https://www.breezy-vcs.org/">Breezy</a>
 provides abstractions over the version control system (Git, Bazaar,
Mercurial, Subversion) and the supported hosting platforms (GitHub,
GitLab, Launchpad).</p>
<p><a class="reference external" href="https://github.com/jelmer/buildlog-consultant">buildlog-consultant</a> is responsible for parsing and interpreting build logs.
<p><a class="reference external" href="https://github.com/jelmer/upstream-ontologist">upstream-ontologist</a> extracts metadata from upstream projects.
<p><a class="reference external" href="https://github.com/jelmer/ognibuild">ognibuild</a> is responsible for detecting build systems and invoking them.
<p><a class="reference external" href="https://salsa.debian.org/jelmer/lintian-brush">Lintian-brush</a> is responsible for actually creating the packaging based on information provided by <i>ognibuild</i> and <i>upstream-ontologist</i>.</p>
<p><a class="reference external" href="https://jelmer.uk/code/silver-platter">Silver-Platter</a>
 ties this all together. It clones the packaging branches, invokes debianize and pushes back or creates merge proposals.</p>
</div>
