    <div class="footer">
      &copy;2018-2021 <a href="/about">Jelmer Vernooĳ</a>.  <a href="https://salsa.debian.org/jelmer/debian-janitor/issues/new">File a bug</a>. <a href="https://salsa.debian.org/jelmer/debian-janitor">Source code</a>. Published under the GNU GPLv2 or later.
    </div>
