{% macro lintian_tag_link(tag) %}<a href="https://lintian.debian.net/tags/{{tag}}">{{tag}}</a>{% endmacro %}

{% macro lintian_brush_summary(result) %}
<style>
tr.row-disabled {
    background-color: lightgrey;
}
</style>
<ul>
    {% for applied in result %}
    <li>{{ applied['summary'] }}{% if applied['fixed_lintian_tags'] %} ({% for tag in applied['fixed_lintian_tags'] %}{{ lintian_tag_link(tag) }}{% if not loop.last %} {% endif %}{% endfor %}){% endif %}</li>
    {% endfor %}
</ul>
{% endmacro %}

