{% extends "layout.html" %}
{% block sidebar %}{% include suite + "-sidebar.html" %}{% endblock %}
{% block page_title %}{{ suite }} - Statistics{% endblock %}
{% block body %}
<div class="section" id="{{ suite }}-stats">
<h1>{{ suite }} - Statistics</h1>

<canvas id="results-chart" width="800" height="450"></canvas>
<script>
var review_status_chart;
$.getJSON("/{{ suite }}/+chart/results", function (json) {
new Chart($("#results-chart"), {
    type: 'pie',
    data: {
       labels: $.map(json, function(a) { return a[0]; }),
       datasets: [{
          backgroundColor: $.map(window.chartColors, function(val, key) { return val; }),
          data: $.map(json, function(a) { return a[1]; }),
       }],
    },
    options: {
      title: { text: "Results", display: true },
    },
});
});

</script>

</div>
{% endblock %}
